.badge {
  background-color: #282b5f;
  display: inline-block;
  padding: var(--space-2) var(--space-4);
  margin: 0 5px 7.5px 0;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.badge p {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5px;
}