.body-container {
  background: rgb(66, 65, 184);
  background: linear-gradient(
    135deg,
    rgba(66, 65, 184, 1) 0%,
    rgba(81, 68, 184, 1) 60%,
    rgba(91, 66, 167, 1) 100%
  );
  /* border-top: 2px solid; */
}

.Main-body {
  padding: 0.5rem var(--space-4);
  margin: 0 auto;
  margin-top: -6rem;
  padding-top: calc(var(--space-4) + 6rem);
  max-width: 70rem;
}

.about-me {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-me h2,
.about-me p {
  padding: 0;
  margin: 0;
}

.about-me p {
  padding: var(--space-3) 0;
  line-height: 1.75rem;
  max-width: 50rem;
}

.about-me h2 {
  font-size: 3.5rem;
}

.about-me__content {
  padding-top: var(--space-8);
}

section {
  margin: 6rem 0;
}

.download-cv {
  display: none;
}

.section-round-bg {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: calc(100vh - 15rem);
  margin: 0;
  margin-bottom: 10rem;
}

.text-accent {
  color: #36e599;
}

.about-me a {
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
}

.about-me a:hover {
  color: #36e599;
  border-color: #36e599;
}

@media (max-width: 48rem) {
  .section-round-bg {
    margin-bottom: 0;
  }

  .about-me h2 {
    font-size: 1.9rem;
  }

  .profile-image {
    align-self: center;
  }

  section:nth-child(1) {
    margin-top: var(--space-3);
  }

  .download-cv {
    display: block;
    padding-top: 0;
    margin-top: var(--space-4);
  }

  .download-cv a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    text-decoration: none;
  }
}

@media only screen and (min-width: 60rem) and (max-width: 90rem) {
  .Main-body {
    padding-left: var(--space-20);
    padding-right: var(--space-20);
  }
}
