.body-container {
  background: rgb(66, 65, 184);
  background: linear-gradient(
    135deg,
    rgba(66, 65, 184, 1) 0%,
    rgba(81, 68, 184, 1) 60%,
    rgba(91, 66, 167, 1) 100%
  );
  /* border-top: 2px solid; */
}

.Main-body {
  padding: 0.5rem var(--space-4);
  margin: 0 auto;
  padding-top: var(--space-4);
  max-width: 90rem;
}

.about-me {
  display: flex;
  gap: 30px;
  align-items: center;
}

.about-me h3, .about-me p {
  padding: 0;
  margin: 0;
}

.about-me p {
  padding: var(--space-3) 0;
}

.about-me h3 {
  padding-bottom: var(--space-4);
}

.profile-image {
  margin-top: var(--space-1);
  align-self: flex-start;
  object-fit: contain;
  border-radius: 400px;
  width: 15rem;
  height: 15rem;
  border: 4px solid rgba(255,255,255, 0.3);
}

section {
  margin: 6rem 0;
}

section:nth-child(1) {
  margin-top: 4rem;
}

.download-cv {
  display: none;
}

.section-round-bg {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.portfolio-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(22.5rem, 100%), 1fr));
  gap: 40px;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #282B5F; //rgb(44, 44, 66); */
  background-color: #282b5f;
  border-radius: 25px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 12.5px 35px rgba(0, 0, 0, 0.25);

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}


.portfolio-item:hover {
  cursor: pointer;
  background-color: #1e2150;
  -webkit-transform: scale(1.025);
}

.portfolio-item:hover img {
  -webkit-transform:scale(1.5); /* Safari and Chrome */
  -moz-transform:scale(1.5); /* Firefox */
  -ms-transform:scale(1.5); /* IE 9 */
  -o-transform:scale(1.5); /* Opera */
  transform:scale(1.5);
}

.image-wrapper {
  height: 15rem;
  width: 100%;
  display: block;
  overflow: hidden;
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  
  vertical-align: middle;
}

.portfolio-details {
  height: calc(100% - 15rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-1) var(--space-1) var(--space-4) var(--space-1);
}

.portfolio-details .badge {
  margin: var(--space-1) 0 0 var(--space-1);
  padding: var(--space-1) var(--space-2);
  background-color: #34387b;
}

.portfolio-details h3 {
  font-size: 1.5rem;
  margin: 0;
  border-radius: 12px;
  padding: var(--space-1);
}

.portfolio-details p.app-info {
  font-size: 1.15rem;
  padding: var(--space-1);
  padding-bottom: var(--space-5);
  line-height: 1.55rem;
  margin: 0;
  color: #bec9d7;
}

.portfolio-actions {
  margin-top: var(--space-4);
  margin-left: var(--space-1);
  margin-right: var(--space-1);
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.text-accent {
  color: #36e599;
}

.badge {
  background-color: #282b5f;
  display: inline-block;
  padding: var(--space-2) var(--space-4);
  margin: 0 5px 7.5px 0;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.badge p {
  margin: 0;
}

@media (max-width: 48rem) {

  .about-me {
    flex-direction: column-reverse;
  }

  .profile-image {
    align-self: center;
  }

  section:nth-child(1) {
    margin-top: var(--space-3);
  }

  .download-cv {
    display: block;
    padding-top: 0;
    margin-top: var(--space-4);
  }

  .download-cv a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    text-decoration: none;
  }

  .portfolio-actions > * {
    width: 100%;
  }

  .portfolio-actions {
    gap: 15px;
  }

  .portfolio-item:hover img {
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
  }
}

@media only screen and (min-width: 60rem) and (max-width: 90rem) {
  .Main-body {
    padding: 0.5rem var(--space-20);
  }
}

