header {
  z-index: 99999;
  width: 100%;
  top: 0;
  position: sticky;
  background-color: var(--color-bg);
  text-align: center;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */

  box-shadow: 0 1px 0px rgba(255, 255, 255, 0.2);
}

#header-inner-container {
  max-width: 90rem;
  padding: 0 var(--space-4);
  height: 6rem;
  margin: 0 auto;
  justify-content: space-between;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-link {
  text-decoration: none;
  color: #fff;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-actions a {
  text-decoration: none;
  font-size: 1.25rem;
}

.nav-actions .regular-link:hover {
  border-bottom: 3px solid #36e599;
  padding-bottom: 5px;
  margin-top: 8px;
}

.header-download-cv {
  display: flex;
  align-items: center;
  gap: 20px;
}

.horizontal-line {
  height: 2.25rem;
  width: 1px;
  background-color: rgb(135, 134, 134);
}

.logo-image {
  height: 2.5rem;
  width: 2rem;
  object-fit: contain;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo .text-accent {
  line-height: 1rem;
  font-size: 3rem;
}


@media (max-width: 48rem) {
  #header-inner-container {
    height: 4rem;
  }

  .header-download-cv {
    display: none;
  }

  .nav-actions .btn { 
    height: 2.5rem;
  }
}

@media only screen and (min-width: 60rem) and (max-width: 90rem) {
  #header-inner-container {
    padding: 0 var(--space-20);
  }
}