footer {
}

.bottom-footer-container {
  border-top: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
  background-color: var(--color-bg);
  color: white;
}

.bottom-footer-container .text-accent {
  line-height: 1rem;
  font-size: 2rem;
}

.contact-me-outer-container {
  border-top: 2px solid;
  border-color: rgba(255, 255, 255, 0.3);
  background-color: #070714;
}

.contact-me-container {
  padding: var(--space-2) var(--space-4);
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
  margin: 0 auto;
  max-width: 90rem;
}

@media (max-width: 48rem) {
  .contact-me-container {
    flex-direction: column;
    gap: 0px;
  }
}
