* {
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
  background-color: #221f33;
}

main {
  min-height: calc(100vh - 46rem);
}

:root {
  --color-bg: #221f33;
}

.App {
 
  --space-1: 0.5rem;
  --space-2: 0.75rem;
  --space-3: 1rem;
  --space-4: 1.25rem;
  --space-5: 1.5rem;
  --space-6: 1.75rem;
  --space-7: 2rem;
  --space-8: 2.25rem;
  --space-9: 2.5rem;
  --space-10: 2.75rem;
  --space-20: 6rem;

  color: white;
}

h2, h3 {
  font-size: 1.6rem;
}

h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1.3rem;
}

p {
  font-size: 1.25rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: var(--space-2) var(--space-3);
  border-radius: 100px;
  border: none;
  color: #04041a;
  background-color: #fafdff;
  font-size: 1.1rem;
  font-weight: bold;
}

.btn:disabled {
  background-color: rgba(255, 255, 255, 0.65) !important;
}

.btn-regular-font {
  font-weight: normal;
}

.btn-with-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.btn-icon {
  font-size: 1.2rem;
}

.btn:hover {
  background-color: #d3d4d4;
}

.btn:focus {
  background-color: #fafdff !important;
}

.btn:active {
  background-color: #fafdff !important;
}

@media (max-width: 48rem) {
  .btn-regular-font {
    font-size: 0.9rem;
  }
}
